body {
    background-color: #C0FF8B;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* center things */
#started, #shop {
    width: 60%;
}

#monster, #player {
    width: 50vw;
    text-align: center;
}
#titles, #monster_container, #name_container, #game_container, #txt_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#playerName, #playerHp, #playerAp, #playerArmor, #playerText {
    margin-left: 40px;
    text-align: center;
    width: 300px;
}
#monsterName, #monsterHp, #monsterAp, #monsterArmor, #monsterText {
    margin-right: 40px;
    text-align: center;
    width: 300px;
}
#shop_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#upgrade_sword, #upgrade_armor {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

/* txt */
h1 {
    color: #E1ACFF;
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 0px;
}
p {
    color: #E1ACFF;
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 60px;
}
#titles, #name_container {
    color: #855BCC;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}
#game_container, #shop_container, #txt_container {
    color: #855BCC;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}
#playerText, #monsterText {
    margin-top: 30px;
}
#playerWon, #monsterWon {
    color: #855BCC;
}


/* SVGs */
#monsterImg, #playerImg {
    width: 20vw;
}

/* buttons */

#buttonContainer {
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
#btnStart, #btnAttack, #btnNext, #btnBuy {
    background-color: #E1ACFF;
    color: #C0FF8B;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    border: none;
    margin: 0 10px 0;
    padding: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    cursor: pointer;
}
#btnStart:hover, #btnAttack:hover, #btnNext:hover, #btnBuy:hover {
    background-color: #855BCC;
    color: #E1ACFF;
}
#btnStart:focus, #btnAttack:focus, #btnNext:focus, #btnBuy:focus {
    outline: none;
}